<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mjc.hotel.student.mapper.BookingMapper">

    <select id="getUser" resultType="com.mjc.hotel.user.dto.UserDto">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="getBookingsByUserId" resultType="com.mjc.hotel.bookings.BookingDto">
        SELECT *
        FROM bookings
        WHERE user_id = #{userId}
    </select>

    <select id="getRoom" resultType="com.mjc.hotel.rooms.dto.RoomDto">
        SELECT *
        FROM rooms
        WHERE room_id = #{roomId}
    </select>

    <select id="getRoomImages" resultType="com.mjc.hotel.room_images.dto.RoomImageDto">
        SELECT room_images.*
        FROM room_images
        INNER JOIN rooms
        ON room_images.room_id = rooms.room_id
        WHERE rooms.room_id = #{roomId}
    </select>

    <select id="getHotel" resultType="com.mjc.hotel.hotels.HotelDto">
        SELECT *
        FROM hotels
        WHERE hotel_id = #{hotelId}
    </select>

    <select id="getHotelByRoomId" resultType="com.mjc.hotel.hotels.HotelDto">
        SELECT hotels.*
        FROM hotels
        INNER JOIN rooms
        ON hotels.hotel_id = rooms.hotel_id
        WHERE rooms.room_id = #{roomId}
    </select>

    <select id="getHotelImages" resultType="com.mjc.hotel.hotelsimage.HotelImageDto">
        SELECT hotel_images.*
        FROM hotel_images
        INNER JOIN hotels
        ON hotel_images.hotel_id = hotels.hotel_id
        WHERE hotels.hotel_id = #{hotelId}
    </select>

</mapper>